/*=======================================
                main css 
=======================================*/

header,
section,
footer {
  padding: 30px 0;
}
.generate-buddy {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button */
.buddy-btn {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: none;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono", monospace;
  line-height: 1;
  list-style: none;
  /* overflow: hidden; */
  padding: 20px 16px;
  transition: 0.15s;
  touch-action: manipulation;
  font-size: 18px;
  text-transform: capitalize;
}

.buddy-btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.buddy-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
.buddy-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
